<!DOCTYPE html>
<head>
  <title>Hello World</title>
</head>

<body>
  <!-- Navbar -->
  <% include parts/navbar %>
  <h1>This is the default page</h1>

  <!-- Main body of application -->
  <%- body -%>
  
  <!-- Footer -->
  <% include parts/footer %>
</body>
</html>
