
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom.css">

    <title>Jumbotron Template for Bootstrap</title>
  </head>
  <body>
    <!-- Navbar -->
    <% include ./parts/navbar %>
    <div class="container">
      <%- body -%>
    </div> <!-- /container -->
    <!-- Footer -->
    <% include ./parts/footer %>
  </body>
</html>
