
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">

    <title>Amazon Clone</title>
  </head>
  <body>
    <!-- Navbar -->
    <% include ./parts/navbar %>
    <!-- Main Content -->
    <%- body -%>
    <!-- Footer -->
    <% include ./parts/footer %>
    <!-- Javascript -->
    <% include ./parts/javascript %>
  </body>
</html>
