body {
  padding-top: 100px;
}

#navbar-gap {
  margin-top: -4%;
}

.product-image {
    width: 100%
}

/*primary: #ff9900*/
/*secundary: #146eb4 */
.navbar{
    /* background-color: #146eb4 */
    background-color: #232f3e;
    border-color: #232f3e;
}

.jumbotron{
    background-color:#232f3e;
}

.navbar-inverse .navbar-nav>li>a {
    color: #ff9900;
}

.navbar-inverse .navbar-brand {
    color: #ff9900;
}

.jumbotron .h1, .jumbotron h1 {
    font-size: 63px;
    color: #ff9900;
}

body {
    background-color: #EAEDED;
}
